body {
    /* background-image: url("/static/assets/2947575.jpg"); */
    background-size: cover;
    background: linear-gradient(to bottom, #ffffff,#b9c8e9);
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Arial, sans-serif;
    color: black;
    /* background-color: black; */
}
.back-button {
    background-color: #5aa0e6;
    color: #fff;
    padding: 2px;
    width: 70px;
    height: 28px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: -25px;
}

.back-button:hover {
    background-color: #5aa0e6;
}

.back-button-icon {
    margin-right: 5px;
}
.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 40px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #5aa0e6;
}

tr:nth-child(even) {
    background-color: #b9c8e9;
}

.file-upload {
    margin-top: 20px;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload label {
    display: block;
    width: 200px;
    padding: 10px;
    background-color: #5aa0e6;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.file-upload label:hover {
    background-color: #5aa0e6;
}

.file-upload .upload-button {
    display: none;
}

.file-upload .file-name {
    margin-top: 10px;
    font-size: 14px;
}

.download-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #5aa0e6;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.download-button:hover {
    background-color: #1a73f8;
}
.upload-button-container {
    text-align: center;
    margin-top: 20px;
}

.upload-button {
    padding: 10px 20px;
    background-color: rgb(88, 157, 246);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.upload-button:hover {
    background-color: #333;
}