<!DOCTYPE html>
<html>
<head>
    <title>Files | SHAShare</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="static\assets\icon.png"/>
    <link href="/static/css/files.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 class="mainheading">SHAShare</h1>
        <div class="container">
            <!-- ... (existing content) ... -->

            <!-- <div class="back-button-container">
                <a href="{{url_for('Index')}}" class="back-button">
                    <span class="back-button-icon">&larr;</span> Back
                </a>
            </div>
        </div> -->
    <div class="center">
        <form action = "http://localhost:5000/Upload" method = "POST" enctype = "multipart/form-data">
            <label for="image-input" >
                <input type="file" name = "file" id="image-input" class="custom-file-upload">
            </label>
              <button type="submit" class="btn2">Submit</button>
        </form>
    </div>
        <table>
            <thead>
                <tr>
                    <th>File</th>
                    <th>Author</th>
                    <th>Size</th>
                    <th>Date</th>
                    <th><i class="fa fa-eye"></i>&nbsp;View</th>
                    <th><i class="fa fa-download"></i>&nbsp;Download</th>
                    <th><i class="fa fa-trash-o"></i>&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for file_name in file_names %}
                <tr>
                    <td>{{ file_name.name }}</td>
                    <td>{{ file_name.author }}</td>
                    <td>{{ file_name.size }}</td>
                    <td>{{ file_name.time }}</td>
                    <td>
                        <a href="/View/{{ file_name.name }}" style="color: black;" class="download-button"><i class="fa fa-eye"></i>&nbsp;View</a>
                    </td>
                    <td>
                        <a href="/Download/{{ file_name.name }}" class="download-button"><i class="fa fa-download"></i>&nbsp;Download</a>
                    </td>
                    <td>
                        <a href="/Delete/{{ file_name.name }}" style="color: red;" class="download-button"><i class="fa fa-trash-o"></i>&nbsp;<b>Delete</b></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container">
            <!-- ... (existing content) ... -->



   <div class="center">
        <a href="{{url_for('Login')}}" class="btn1">
            Logout
        </a>
    </div>


    <div style="margin-top:220px">
    </div>

    <footer>
        <div class="footer-content center sizer">
          <p>&copy; 2023 @SHA Share. All rights reserved.</p>
          <p>Developed by Saad Huzaifa and Ali</p>
        </div>
      </footer>

    <script>
        const fileUpload = document.getElementById('file-upload');
        const fileName = document.querySelector('.file-name');

        fileUpload.addEventListener('change', function (e) {
            const file = e.target.files[0];
            fileName.textContent = file ? file.name : '';
        });

        /* ... (existing JavaScript code) ... */

        // Add event listener for the "Upload Your Files" button
        const uploadButton = document.querySelector('.upload-button');
        uploadButton.addEventListener('click', function (e) {
            // Implement your file upload logic here
        });

        function handleUpload() {
            var fileInput = document.createElement('input');
            fileInput.type = 'file';
            fileInput.accept = '.pdf,.doc,.docx,.txt'; // Specify the file extensions allowed

            fileInput.onchange = function(e) {
                var file = e.target.files[0];
                if (file) {
                    var fileName = file.name;
                    console.log('File uploaded:', fileName);
                    // Perform additional actions with the uploaded file name
                }
            };

            fileInput.click();
        }
    </script>
</body>
</html>
