<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SHAShare</title>
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
        <link href="/static/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Distributed Computing Project</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">About the Project</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact Developers</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Welcome to SHA Share</h1>
                <p class="lead">ShareNet: A distributed client-server file sharing system that allows seamless file synchronization, secure data transfer, and collaborative sharing across multiple devices.</p>
                <a class="btn btn-lg btn-light special" href={{url_for('Login')}}>Start Sharing Now</a>
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>About this Project</h2>
                        <p style="font-size:16px; margin:30px">S.H.A. ShareNet is a cutting-edge distributed client-server file sharing system developed by Saad, Huzaifa, and Ali. With a shared vision of seamless file sharing and collaboration, our team has designed and built a robust platform that empowers users to effortlessly exchange files across multiple devices and locations. Our goal is to provide a user-friendly and secure solution that simplifies the process of file sharing while ensuring data integrity and privacy. S.H.A. ShareNet leverages the power of modern networking technologies and distributed systems to create a seamless experience for individuals, teams, and organizations.</p>
                            <ul>
                                <li>Easy-to-use interface: Our intuitive interface makes it simple for users to upload, download, and manage their files with ease.</li>
                                <li>Reliable file synchronization: ShareNet ensures that files are kept in sync across all connected devices, allowing users to access their files anytime, anywhere.</li>
                                <li>Secure data transfer: We prioritize the security of your data by implementing robust encryption protocols to safeguard your files during transmission.</li>
                                <li>Collaborative file sharing: ShareNet enables effortless collaboration by allowing users to share files with specific individuals or groups, granting controlled access and permissions.</li>
                                <li>Scalable architecture: Our system is built with scalability in mind, allowing it to handle a growing number of users and files without compromising performance.</li>
                              </ul>
                              
                    </div>
                </div>
            </div>
        </section>
       
        <!-- Contact section-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Contact us</h2>
                        <p class="lead">
                            Saad - Front-end Developer and Tester:
                            <br>
                            Email: <a href="mailto:ssubhani.bscs20seecs@seecs.edu.pk">ssubhani.bscs20seecs@seecs.edu.pk</a>
                            <br>
                            Saad is the front-end developer and tester who implemented fault tolerance algorithms and also designed the front-end website.
                        </p>
                        <p class="lead">
                            Huzaifa - Backend Developer:
                            <br>
                            Email: <a href="mailto:mhuziafa.bscs20seecs@seecs.edu.pk">mhuziafa.bscs20seecs@seecs.edu.pk</a>
                            <br>
                            Huzaifa is the backend developer who coded all the client-server interaction code, ensuring smooth communication and data management.
                        </p>
                        <p class="lead">
                            Ali - Problem Solver:
                            <br>
                            Email: <a href="mailto:aammar.bscs20seecs@seecs.edu.pk">aammar.bscs20seecs@seecs.edu.pk</a>
                            <br>
                            Ali is the problem solver who resolves conflicts and ensures a seamless connection between the front-end and back-end components.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Footer-->
        <footer class="py-5 bg-dark">

        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
